$primary   : #00b5cc   // Azul portal
$secondary : #f8f32b   // Amarelo Rick
$accent    : #ff206e   // Rosa vibrante
$dark      : #181825   // Fundo escuro
$positive  : #00ff9d   // Verde portal
$negative  : #c10015   // Vermelho alerta
$info      : #4FC3F7   // Azul claro
$warning   : #ff206e   // Rosa vibrante
@import '~quasar/src/css/variables.sass'