$primary   : #00b5cc
$secondary : #f8f32b
$accent    : #ff206e
$dark      : #181825
$positive  : #00ff9d
$negative  : #c10015
$info      : #4FC3F7
$warning   : #ff206e
@import '~quasar/src/css/variables.sass'